In [1]:
print("This is the second notebook")

This is the second notebook

In [2]:
for i in range(10):
    print("You'll regret this, moohoohhaha")

You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha
You'll regret this, moohoohhaha

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/samalainabayeva/Desktop/final_data.csv")

In [3]:
df.head()

,movie_id,genres,avg_ratings,num_votes,region,category,artist_name,screen_time,movie_title,death_year,...,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,release_month,foreign_gross,total_profit,roi
0,tt0369610,"Action,Adventure,Sci-Fi",7.0,539338,BG,producer,Patrick Crowley,124.0,Jurassic World,NaN,...,2015-06-12,Jurassic World,215.0,652.270625,1648.854864,2015,6,996.584239,1433.854864,6.669092
1,tt0401729,"Action,Adventure,Sci-Fi",6.6,241792,UA,actor,Willem Dafoe,132.0,John Carter,NaN,...,2012-03-09,John Carter,275.0,73.058679,282.778100,2012,3,209.719421,7.778100,0.028284
2,tt1014759,"Adventure,Family,Fantasy",6.5,358813,IE,actor,Johnny Depp,108.0,Alice in Wonderland,NaN,...,2010-03-05,Alice in Wonderland,200.0,334.191110,1025.491110,2010,3,691.300000,825.491110,4.127456
3,tt1194173,"Action,Adventure,Thriller",6.7,268678,RS,actor,Scott Glenn,135.0,The Bourne Legacy,NaN,...,2012-08-10,The Bourne Legacy,125.0,113.203870,280.355920,2012,8,167.152050,155.355920,1.242847
4,tt1219289,"Mystery,Sci-Fi,Thriller",7.4,492490,AR,actor,Robert De Niro,105.0,Limitless,NaN,...,2011-03-18,Limitless,27.0,79.249455,155.564919,2011,3,76.315464,128.564919,4.761664

In [4]:
def regret(i="David"):
    print(f"You had the option to work by yourself, {i}, and you blew it.")

In [6]:
df.shape

(1717, 22)

In [6]:
regret()

You had the option to work by yourself, David, and you blew it.

In [7]:
regret("Fred")

You had the option to work by yourself, Fred, and you blew it.

In [7]:
df['genres'].str.contains("Horror")

0       False
1       False
2       False
3       False
4       False
        ...
1712    False
1713    False
1714    False
1715    False
1716    False
Name: genres, Length: 1717, dtype: bool